# Ignore everything
*

# Don't ignore directories
!*/

# Ignore all files in directories
**/*

# Don't ignore directories in directories
!**/*/

# Don't ignore these files
!src/results/*
!src/old_models/*
!src/BTCUSD_dataset_1H_100candles_balanced_results/*
!enviroment.yml
!src/*.ipynb
!src/*.py
!.gitignore
#ignore all these things
lib
**/*.o
*.o
**/*.a
*.a