# Ignore everything
*

# Don't ignore directories
!*/

# Ignore all files in directories
**/*

# Don't ignore directories in directories
!**/*/

# Don't ignore these files
BTCUSD_dataset_1H_100candles_balanced_model
!results/*
!old_models/*
!BTCUSD_dataset_1H_100candles_balanced_results/*
!environment.yml
!*.ipynb
!*.py
!.gitignore
#ignore all these things